.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
.fadedCircle{
  display: none;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.copys circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
.copys text {
  font: 12px sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
}
.layouttoolbar {
  width: 100%;
  height: 100px;
   float: left;
  border-collapse: collapse;
  background-color: #4da6ff;
}
.tree {
    width: 75%;
    height: 100%;
    float: left;
}
.recomwindow {
    width: 25%;
    height: 100%;
    float: right;
}
.dialogbox {
    
    background-color: lightgrey;
    width: 300px;
    border: 2px solid #0d0d0d;
    font-family: Arial;
    margin-top: 100px;
    margin-right: 50px;
    background:#fff;

}
#dialogbox1{
  display: none;
}
#dialogbox2{
  display: none;
}
#dialogbox3{
  display: none;
}
.dialogtitle{
  text-align: center;
  width: 300px;
  height: 25px;
  background-color: #CCCCCC;
  padding-top: 4px;
}
.dialogbody{
  text-align: center;
  padding-top: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
  background: #fff;
}
.xbutton{

    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
.xbutton:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}
.choice{
  background-color: #AFB0AEE6;
  border: 1px solid #0d0d0d;
  color: black;
  width: 250px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.choice:hover{
  background-color: #fff;
  border: 1px solid #0d0d0d;
  color: black;
  width: 250px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 270.8px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

